label
{
    color: #aac759;
    margin-left: 10px;
}
div[class^="seccion"]
{
    width: 100%;
    line-height: 90px !important;
    -webkit-box-shadow: 0px 0px 50px -21px rgba(0, 0, 0, 0.40);
    box-shadow: 0px 0px 50px -21px rgba(0, 0, 0, 0.40);
}
.credential
{
    width: 270px;
    height: 45px;
    font-size: 11pt;
}
/*Select comoididades normas*/
input[type="checkbox"]{
    display: none;
}
/*Tamaño imagenes checbox*/
#cimagen
{
  width: 100px;
}
/*Mapa*/
#mapid
{
    height: 500px !important;
}
/**/
.contenedor{
    width: 280px;
    height: 350px;
    object-fit: cover;
}
.guardardatos
{
    text-align: center;
    margin: 10px;
}