/*Contenido del lateral izquierdo*/
.contenedor-izquierdo
{
    width: 350px;
    height: 91vh;
    float: left;
    -webkit-box-shadow: 13px 1px 38px -1px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 13px 1px 38px -1px rgba(0, 0, 0, 0.11);
    box-shadow: 13px 1px 38px -1px rgba(0, 0, 0, 0.11);
}
.contenedor-izquierdo .into-izquierdo
{
    padding: 10px 40px 0px 50px;
}
/*Menu*/
.into-izquierdo ul li {
    list-style: none;
    margin-bottom: 10px;
}
/*Like en el piso*/
.likeit {
    margin: 4px;
    position: absolute;
}
.contenedor-centro .likeit svg {
    position: relative;
    stroke: #000;
    stroke-width: 2;
    fill: #f7f7f7;
}
/*Buscador*/
.contenedor-centro #search
{
    width: 60%;
}
.contenedor-centro #mapid
{
    width: 100%;
    height: 250px !important;
}
.busqueda
{
    height: 91vh;
    overflow-y: scroll;
}
/*Contenido de la Derecha*/
.contenedor-derecho
{
    position: absolute;
    width: 350px;
    height: 91vh;
    top: 0;
    right: 0;
    bottom: 0px;
    -webkit-box-shadow: 13px 1px 38px -1px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 13px 1px 38px -1px rgba(0, 0, 0, 0.11);
    box-shadow: 13px 1px 38px -1px rgba(0, 0, 0, 0.11);
}
.contenedor-derecho #mapid
{
    height: 100%;
}
.contenedor-derecho #vacio
{
    margin-top: 30%;
    text-align: center;
}
/*Derecha del perfil*/
#vacio
{
    text-align: center;
}
/*Previsualizacion del piso margenes*/
.box-mas-visitados
{
    margin-left: 60px !important;
    margin-top: 30px !important;
    margin-bottom: 10px !important;
}
/*Pagina piso*/
@media screen and ( max-width: 1180px) {}

@media screen and ( max-width: 945px) {
    .contenedor-centro .into-centro .box-mas-visitados {
        width: 290px;
        height: 400px;
    }
    .contenedor-derecho {
        left: 640px;
    }
}

@media screen and ( max-width: 636px) {
    .contenedor-izquierdo {
        display: none;
    }
    .contenedor-centro {
        left: 20%;
    }
}

@media screen and ( max-width: 390px) {
    .contenedor-centro {
        left: 0;
        margin-left: -15px;
    }
}