.contenedor-izquierdo {
    position: fixed;
}

.contenedor-derecho {
    position: absolute;
}

.contenedor-izquierdo {
    top: 503px;
    width: 440px;
    bottom: 0px;
    text-align: center;
}

.contenedor-derecho {
    top: 503px;
    left: 500px;
    right: 0;
    bottom: 0px;
}

.caracteristicas p {
    display: inline-block;
}