label
{
    color: #aac759;
    margin-left: 20px;
}
table[class^="seccion"]
{
    width: 95%;
    line-height: 90px !important;
    padding: 40px;
    margin: 2%;
    -webkit-box-shadow: 0px 0px 50px -21px rgba(0, 0, 0, 0.40);
    box-shadow: 0px 0px 50px -21px rgba(0, 0, 0, 0.40);
}
.credential
{
    width: 270px;
    height: 45px;
    font-size: 11pt;
}
/*Select comoididades normas*/
input[type="checkbox"]{
    display: none;
}
/*Tamaño imagenes checbox*/
#cimagen
{
  width: 80px;
}
/*Mapa*/
#mapid
{
    height: 650px !important;
}
/**/
.contenedor{
    width: 280px;
    height: 350px;
    object-fit: cover;
}