.contenedor-centro .likeit svg {
    position: relative;
    stroke: #000;
    stroke-width: 2;
    fill: #f7f7f7;
}
.into-centro.busqueda
{
    height: 100vh;
    overflow-y: scroll;
}
.contenedor-centro #mapid
{
    width: 100%;
    height: 250px !important;
    margin-bottom: 20px;
}
/*Contenido de la Derecha*/
.contenedor-derecho
{
    position: absolute;
    width: 350px;
    height: 100vh;
    right: 0;
    top: 54px;
    bottom: 0px;
    -webkit-box-shadow: 13px 1px 38px -1px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 13px 1px 38px -1px rgba(0, 0, 0, 0.11);
    box-shadow: 13px 1px 38px -1px rgba(0, 0, 0, 0.11);
}
.contenedor-derecho.mapa
{
    width: 500px !important;
}
.contenedor-derecho #mapid
{
    height: 100%;
}
.contenedor-derecho #vacio
{
    margin-top: 30%;
    text-align: center;
}
/*Derecha del perfil*/
#vacio
{
    text-align: center;
}
/*Previsualizacion del piso margenes*/
.box-mas-visitados
{
    margin-left: 60px !important;
    margin-top: 30px !important;
    margin-bottom: 10px !important;
}
/*Pagina piso*/
@media screen and ( max-width: 1180px) {
    .contenedor-derecho
    {
        display: none;
    }
}

@media screen and ( max-width: 945px) {
    .contenedor-centro .into-centro .box-mas-visitados {
        width: 290px;
    }
    .contenedor-derecho {
        left: 640px;
    }
    .likeit
    {
        left: 0;
    }
}
