.contenedor-izquierdo,
.contenedor-derecho {
    position: fixed;
}

.contenedor-centro {
    position: absolute;
}

.contenedor-izquierdo {
    top: 0px;
    width: 270px;
    bottom: 0px;
    -webkit-box-shadow: 13px 1px 38px -1px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 13px 1px 38px -1px rgba(0, 0, 0, 0.11);
    box-shadow: 13px 1px 38px -1px rgba(0, 0, 0, 0.11);
}

.contenedor-centro {
    top: 0px;
    left: 240px;
    right: 0;
    bottom: 0px;
}

.contenedor-derecho {
    top: 0px;
    left: 975px;
    right: 0px;
    bottom: 0px;
    -webkit-box-shadow: -13px 1px 38px -1px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: -13px 1px 38px -1px rgba(0, 0, 0, 0.11);
    box-shadow: -13px 1px 38px -1px rgba(0, 0, 0, 0.11);
}


/*Lateral izquierdo*/

.contenedor-izquierdo .into-izquierdo {
    margin: 50px 40px 0px 50px;
}

.into-izquierdo ul li {
    list-style: none;
    margin-bottom: 10px;
}


/*Centro*/

.contenedor-centro .into-centro {
    margin: 50px 40px 0px 50px;
}

.contenedor-centro .likeit {
    margin: 4px;
    position: absolute;
}

.contenedor-centro .likeit svg {
    stroke: #000;
    stroke-width: 2;
    fill: #f7f7f7;
}

.contenedor-centro #search {
    width: 60%;
}


/*Derecha*/

.contenedor-derecho #mapid {
    height: 100%;
}

@media screen and ( max-width: 1180px) {}

@media screen and ( max-width: 945px) {
    .contenedor-centro .into-centro .box-mas-visitados {
        width: 290px;
        height: 400px;
    }
    .contenedor-derecho {
        left: 640px;
    }
}

@media screen and ( max-width: 636px) {
    .contenedor-izquierdo {
        display: none;
    }
    .contenedor-centro {
        left: 20%;
    }
    .contenedor-centro {
        left: 0;
        margin-left: -15px;
    }
}

@media screen and ( max-width: 390px) {
    .contenedor-centro {
        left: 0;
        margin-left: -15px;
    }
}