.contenedor-izquierdo,
.contenedor-centro {
    position: absolute;
}

.contenedor-izquierdo {
    top: 40px;
    width: 500px;
    bottom: 0px;
}

.contenedor-centro {
    top: 53px !important;
    left: 501px;
    right: 0;
    bottom: 0px;
}

.contenedor-centro img {
    width: 100%;
    height: 91.5%;
    object-fit: cover;
}

.into-contenedor {
    margin: 65px 160px;
}

.into-contenedor #acciones span {
    cursor: pointer;
}

#marca svg {
    width: 237px;
    height: 100px;
}

.credential {
    height: 45px;
    width: 130%;
    font-size: 12pt;
}