.content
{
    min-height: calc(100vh - 70px);
}
footer
{
    background: #aac759;
    flex-shrink: 0;
    height: 130px;
    text-align: center;
    color: #ffffff;

}
#marca  {
    width: 300px;
}
.iconos
{
    font-size: 22pt;
}