/*Slider de imagenes*/
.carrusel {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.imgSlides {
    display: none;
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.items {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    display: inline-block;
    width: auto;
    text-align: center;
    width: 90%;
}

.left {
    float: left;
    cursor: pointer;
    color: #000;
    background: #ffffff;
    padding: 5px;
    border-radius: 200px;
    width: 17px;
    cursor: pointer;
    font-size: 14pt;
    margin-bottom: 22px;
}

.right {
    float: right;
    cursor: pointer;
    color: #000;
    background: #ffffff;
    padding: 5px;
    border-radius: 200px;
    width: 17px;
    cursor: pointer;
    font-size: 14pt;
}
#todassecciones
{
    margin-left: 15%;
    margin-bottom: 5px;
}
.secciones
{
    font-size: 14pt;
    padding: 30px;
    margin-right: 5%;
    background: #aac759;
    border-radius: 30px;
    cursor: pointer;
}
@media screen and ( max-width: 740px) {
    .imgSlides {
        height: 180px;
        object-fit: cover;
    }
}